@import url(nule.css);

@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

body {
   font-family: "Hubballi", sans-serif;
   overflow: auto;
}

.wrapper {
   min-height: 100vh;
   display: grid;
   grid-template: minmax(50px auto) 1fr minmax(70px auto) / 1fr;
   grid-template-areas:
      "header"
      "main"
      "footer";
   overflow: hidden;
}
.header {
   background-color: rgb(255, 80, 57);
   grid-area: header;
   padding: 15px;
   display: grid;
   grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
   align-items: center;
}
.header__logo {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background-color: #fff;
   grid-column: 2 / 3;
}
.header__logo:hover {
   background-color: rgb(37, 37, 37);
}
.header__menu {
   grid-column: 3 / 4;
}
.header__list {
   display: grid;
   grid-auto-flow: column;
   justify-items: end;
}
.header__list li {
   margin: 0 0 0 30px;
}

.header__link {
   color: white;
   font-size: 18px;
}
.header__link:hover {
   color: black;
}
.header__burger {
}
@media (max-width: 992px) {
   .header__list {
      display: none;
   }
}

.main {
   background-color: rgb(49, 49, 49);

   padding: 30px 15px;
}

@media (min-width: 992px) {
   .main {
      display: grid;
      grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
      grid-area: main;
   }
}

.sidebar {
   background-color: rgb(255, 80, 57);
   padding: 15px;
   margin: 0 0 30px 0;
}
@media (min-width: 992px) {
   .sidebar {
      grid-column: 2 / 3;
      margin: 0;
   }
}
.content {
   padding: 0;
}
@media (min-width: 992px) {
   .content {
      grid-column: 3 / 4;
      padding: 0 0 0 30px;
   }
}
.sidebar__menu {
}
.sidebar_list {
}

.sidebar_list li {
   margin: 0 0 20px 0;
}
.sidebar__link {
   color: white;
   font-size: 20px;
}
.sidebar__link:hover {
   color: black;
}
.content__title {
   font-size: 55px;
   color: white;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin: 0 0 10px 0;
}
.content__gallery {
   margin: 0 0 100px 0;
}
.gallery {
}
.gallery__title {
   font-size: 20px;
   color: white;
   margin: 0 0 30px 0;
}
.gallery__items {
   display: grid;
   gap: 20px;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery__item {
   position: relative;
   padding: 0 0 85% 0;
}
.gallery__item img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.gallery__item_big {
   grid-column: span 2;
   grid-row: span 2;
}

@media (max-width: 767px) {
   .gallery__item_big {
      grid-column: span 1;
      grid-row: span 1;
   }
}
.content__products {
}
.products {
}
.products__title {
   color: white;
   font-size: 33px;
   text-transform: uppercase;
   margin: 0 0 30px 0;
}
.products__items {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   column-gap: 30px;
   row-gap: 50px;
}

@media (max-width: 567px) {
   .products__items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
   }
}
@media (max-width: 349px) {
   .products__items {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
   }
}
.products__item {
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 1fr minmax(40px auto) / 1 fr;
}
.products__image {
   position: relative;
   padding: 0 0 90% 0;
   margin: 0 0 20px 0;
}
.products__image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.products__name {
   font-size: 20px;
   color: white;
   line-height: 20px;
   margin: 0 0 20px 0;
}
.products__button {
   background-color: rgb(207, 56, 182);
   color: rgb(255, 255, 255);
   border-radius: 10px;
   text-align: center;
   padding: 10px 30px;
   justify-self: start;
}
.products__button:hover {
   background-color: inherit;
   outline: 2px solid rgb(255, 80, 57);
   color: white;
}
.footer {
   background-color: rgb(255, 80, 57);
   display: grid;
   grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
   grid-area: footer;
   padding: 40px 10px;
   align-items: center;
}
.footer__copy {
}

.footer__text {
}

@media (min-width: 550px) {
   .footer__copy {
      grid-column: 2 / 3;
   }
   .footer__text {
      grid-column: 3 / 4;
      text-align: right;
   }
}

@media (max-width: 550px) {
   .footer {
      grid-template: 1fr 1fr / 1fr;
   }
   .footer__copy {
      order: 2;
      text-align: center;
   }
   .footer__text {
      order: 1;
      text-align: center;
   }
}
